html, body {height:100%;margin:0;}
 span {position:relative;margin-left:10em;width:100%;text-align:center;background:#fff;}
a {display:inline-block;vertical-align:top;margin:0 30px;text-decoration:none;font:700 .95em/40px sans-serif;color:#262626;transition:all .4s ease;}
a:hover {color:#09f;}
#div1 {/*height:100%;*/background:#e8eff1;}
#div2 {background:#ccc6c6;}
#div3 {background:#fbdcd6;}
#div4 {background:#e5c7b5;}
#div5 {background:#bfd7c7;}



*{
  font-family: 'Amiri', serif;

}

 img{
  width: 20%;
  margin: 1em 1em;
}

h1{
  font-size: 1.7em;
}

h3{
  font-size: 1.5em;
  margin-top: 1em;
}

.inline img, h1, br, a, h3{
  display: inline-table;
}

/* -------------------- div1 ------------------------ */

#div1 h2{
  margin: 1em 12em;
}

.aligner-gauche{
  width: 80%;
  text-align: justify;
  margin-left: 5em;
}

label {
  display: inline-block;
  position: relative;
  margin: 25px;
  padding:10px 100px 10px 100px;
  border-radius: 30px;
  color: #060606;
  background-color: #e2e4e4;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}
label::before {
    content: '';
    display: block;
    position: absolute;
    top: 21px;
    bottom: 23px;
    left: 15px;
    width: 3px;
    border-radius: 100px;
    transition: background-color .2s;
}
label:hover, input:focus + label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.premier-bloc, .deuxieme-bloc{
  width:40%;
  text-align: justify;
  display: inline-block;
  margin-left: 5em;
}

 .deuxieme-bloc{
margin-bottom: 2em;
padding-bottom: 2em;
text-align: right;
}

.deuxieme-bloc h4, p{
  text-align: justify;
}


/* -------------------- div2 ------------------------ */


#div2 h2{
  margin: 1em 12em;
}

#div2 img{
  margin-left: 1em;
}

/* -------------------- div3 ------------------------ */

#div3 h2{
  margin: 1em 12em;
}

/* -------------------- div4 ------------------------ */
#div4 h2{
  margin: 1em 12em;
}

#div4 img{
  margin-left: 18em;
  width: 40%;
  /* z-index: 4;
  position: static; */
}

.carte iframe{
  /* position: relative;
  z-index: 5; */
  top: 5em;
  height:318px;
  width: 980px;
}
