html, body {height:100%;margin:0;}
span {position:relative;margin-left: 20em;width:100%;text-align:center;background:#fff;}
a {display:inline-block;vertical-align:top;margin:0 30px;text-decoration:none;font:700 .95em/40px sans-serif;color:#262626;transition:all .4s ease;}
a:hover {color:#09f;}
#div1 {/*height:100%;*/background:#e8eff1;}
#div2 {background:#ccc6c6;}
#div3 {background:#fbdcd6;}
#div4 {background:#e5c7b5;}
#div5 {background:#bfd7c7;}



*{
  font-family: 'Amiri', serif;

}

h1{
  text-align: justify;
/*  padding: 7em;*/ /* a changer en media queries */
  font-family: 'Amiri', serif;
  padding-left:2.4em;

}

h2{
  text-align: center;
  font-family: 'Amiri', serif;

  font-weight: 400;
    font-style: normal;
    font-size: 54px;
    letter-spacing: 0em;
    line-height: 1.25em;
}

h3, h4{
  margin-left: 5em;
  margin-top: 5em;
}

p{
  line-height: 2em;
  margin-top: 16px;
  margin-bottom: 32px;
  color: #333;
  line-height: 32px;
  letter-spacing: 0.1px;
}

label {
  display: inline-block;
  position: relative;
  margin: 25px;
  padding: 35px 140px 35px 140px;
  border-radius: 30px;
  color: #060606;
  background-color: #e2e4e4;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}
label::before {
    content: '';
    display: block;
    position: absolute;
    top: 21px;
    bottom: 23px;
    left: 15px;
    width: 3px;
    border-radius: 100px;
    transition: background-color .2s;
}
label:hover, input:focus + label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}
/* ---------- partie responsive -----------*/
#header{
  max-width: 1500px;
  width:100%;
  display:inline-block;
}

#main{
  background-image: url(Images/double-moon.jpg);
  max-width: 1000px;
  width:100%;
  margin: 0 auto;
  min-height: 1000px;
  height: 100%;
  position: relative;
  /*background-color: #c5e9ea;*/
}

#main h2, #main img{
  padding: 0 1%;
}

#main p{
  padding: O 1%;
}


/* -------------- le reste --------------- */

/* ----------------------------------*/
/* ---------- bloc premier --------- */
/* ----------------------------------*/

#div1 button{
  border-radius: 30%;
  padding: 1em 1em;
}

#div1 .container p{
  background-image: url("Assets/images/plante.jpg");
  width:30%;
}

.inline img{
  width: 19%;
  margin-left: 2em;
  margin-top: 6em;
}

.inline img, h1{
  display: inline-table;
}

.inline h2, a{
  display: inline-block;
}


.inline h3, h4{
  display: inline-block;
}

.container h3,p{
  display: inline-block;
}



#div1, #div2, #div3, #div4, #div5{
/*  margin-left: 20em;
  margin-right: 20em;*/
  text-align: justify;
  margin-top: 5em;
  padding: 5em;
}

#div1 p, #div2 p, #div3 p, #div4 p, #div5 p{
  border: solid grey 1px;
  padding: 2em 2em;
  margin: 2em 2em;
}

strong{
  font-size: 28px;
letter-spacing: .02em;
line-height: 1.5em;

  font-size: 1.1em;
  font-weight: 2em;
  letter-spacing: 0.1em;
  line-height: 7;
  margin-left: 18em;
}

.inline .bloc_premier, .bloc_deuxieme{
  display: inline-block;
}

.project_description_cont {
    position: relative;
    padding: 25px;
    opacity: 1;
    z-index: 5;
}

.project_title{
  display: inline;
  font: normal 17px/30px 'f24e4d5d';
  border-bottom: 4px solid #fff;
}

/* #project {
    position: absolute;
    background: #fff;
    z-index: 4;
    font-size: small;

    display: block;
    margin-top: -46em;
    margin-left: 42em;
    width: 36%;
    height: 30em;
} */


/* _______________________________*/
/* ----------- DIV 2 ----------*/
/* _______________________________*/

.slide-in em p{
  display: inline-block;
  animation-name: slide-in;
  animation-duration: 10s;
}

@keyframes slide-in {
  0%{
    background: lightskyblue;
                    -webkit-animation-timing-function: ease-in;
  }
  50%{
    background: lightskyblue;
                    -webkit-animation-timing-function: ease-in;
  }
  100%{
    background: lightskyblue;
                    -webkit-animation-timing-function: ease-in;
  }

}

.sticky{
  position: sticky;
  top:0em;
  z-index: 1;
}

.sticky img{
  width:50%;
}

p[class="therapie"], p[class="card-text"]
{
  padding: 0em 0em;
  letter-spacing: normal;
}


/* _______________________________*/
/* ----------- DIV 3 ----------*/
/* _______________________________*/

/* _______________________________*/
/* ----------- DIV 4 ----------*/
/* _______________________________*/

#div4 p{
  padding: 0.2em 0.2em!important;
}

.inline, .inline2, i p{
  display: inline-block;
  text-align: center;
  margin-left: 5em;
}

#div4 .inline p {
  padding: 2em 2em;
}

#div4 .inline i {
  margin-left: 2em;
}

.carte iframe{
  height:300px;
  width: 1100px;
}
/* _______________________________*/
/* ----------- DIV 5 ----------*/
/* _______________________________*/

#div5 a{
  margin-left: 32em;
}


/* _______________________________*/
/* ----------- FOOTER ----------*/
/* _______________________________*/

footer a,p{
  display: inline-block;
  margin-left: 8em;

}
