html, body {height:100%;margin:0;}
span {position:relative;margin-left: 20em;width:100%;text-align:center;background:#fff;}
a {display:inline-block;vertical-align:top;margin:0 30px;text-decoration:none;font:700 .95em/40px sans-serif;color:#262626;transition:all .4s ease;}
a:hover {color:#09f;}
#div1 {height:100%;background:#e8eff1;}
#div1+#div2 {background:#ccc6c6;}
#div1+#div2+#div3 {background:#fbdcd6;}
#div1+#div2+#div3+#div4 {background:#e5c7b5;}
#div1+#div2+#div3+#div4+#div5 {background:#bfd7c7;}



*{
  font-family: 'Amiri', serif;

}

h1{
  text-align: justify;
/*  padding: 7em;*/ /* a changer en media queries */
  font-family: 'Amiri', serif;
  padding-left:2.4em;

}

h2{
  text-align: center;
  font-family: 'Amiri', serif;

  font-weight: 400;
    font-style: normal;
    font-size: 54px;
    letter-spacing: 0em;
    line-height: 1.25em;
}

h3, h4{
  margin-left: 5em;
  margin-top: 5em;
}

p{
  line-height: 2em;
}
/* ---------- partie responsive -----------*/
#header{
  max-width: 1500px;
  width:100%;
  display:inline-block;
}

#main{
  background-image: url(Images/double-moon.jpg);
  max-width: 1000px;
  width:100%;
  margin: 0 auto;
  min-height: 1000px;
  height: 100%;
  position: relative;
  /*background-color: #c5e9ea;*/
}

#main h2, #main img{
  padding: 0 1%;
}

#main p{
  padding: O 1%;
}


/* -------------- le reste --------------- */

#div1 button{
  border-radius: 30%;
  padding: 1em 1em;
}

.inline img{
  width: 19%;
  margin-left: 2em;
  margin-top: 6em;
}

.inline img, h1{
  display: inline-block;
}

.inline h2, a{
  display: inline-block;
}


.inline h3, h4{
  display: inline-block;
}

.container h3,p{
  display: inline-block;
}



#div1, #div2, #div3, #div4, #div5{
/*  margin-left: 20em;
  margin-right: 20em;*/
  text-align: justify;
  margin-top: 5em;
  padding: 5em;
}

#div1 p, #div2 p, #div3 p, #div4 p, #div5 p{
  border: solid grey 1px;
  padding: 2em 2em;
  margin: 2em 2em;
}

strong{
  font-size: 28px;
letter-spacing: .02em;
line-height: 1.5em;

  font-size: 1.1em;
  font-weight: 2em;
  letter-spacing: 0.1em;
  line-height: 7;
}
