html, body {height:100%;margin:0;}
span {position:relative;margin-left: 20em;width:100%;text-align:center;background:#fff;}
a {display:inline-block;vertical-align:top;margin:0 30px;text-decoration:none;font:700 .95em/40px sans-serif;color:#262626;transition:all .4s ease;}
a:hover {color:#09f;}
#div1 {height:100%;background:#A30029;}
#div1+#div2 {background:#235F76;}
#div1+#div2+#div3 {background:#489660;}
#div1+#div2+#div3+#div4 {background:#7A7971;}
#div1+#div2+#div3+#div4+#div5 {background:#6A771F;}



*{
  font-family: 'Amiri', serif;

}

h1{
  text-align: justify;
/*  padding: 7em;*/ /* a changer en media queries */
  font-family: 'Amiri', serif;
  padding-left:2.4em;
}

h2{
  text-align: center;
  font-family: 'Amiri', serif;
}

.inline img{
  width: 19%;
  margin-left: 2em;
  margin-top: 6em;
}

.inline img, h1{
  display: inline-block;
}

.inline h2, a{
  display: inline-block;
}







#div1, #div2, #div3, #div4, #div5{
  margin-left: 20em;
  margin-right: 20em;
  text-align: justify;
}

#div1 p{
  border: solid grey 1px;
  padding: 2em 2em;
  margin: 2em 2em;
}
