//standard header
@media (max-width: 1199px){
    .standard-header {
        display: none;
    }
}

//container
@media (min-width: 1024px) and max (max-width: 5000px){
    .container {
        max-width: 1000px;
    }
}

@media (min-width: 992px){
    .container: 970px;
}

@media (min-width 768px){
    .container{
        width: 750px;
    }
}

