.has-faded {// revoir l'animation
    visibility: hidden;
}

@keyframes fade-in {

    from{ //display doesnt work in animation so use visibility
        visibility: hidden;
        opacity: 0;

    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;

    }

}

.fade-in {
    animation: fade-in 200ms ease-in-out forwards; //forwards will keep the style after the animation is finished
}

@keyframes fade-out {

    from{ //display doesnt work in animation
        visibility: visible;
        opacity: 1;

    }
    99%{
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: hidden;
        opacity: 0;

    }

}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards; //forwards will keep the style after the animation is finished
}

/* ----------------------------------- */
@keyframes spin {
    0% {
      content: "vous conseille";
    }
    25% {
      color: white;
    }
    50% {
        content: "vous soutient";
      }
    75% {
        color: white;
      }
    100% {
      content: "vous écoute";
    }
  }

.spin {
    color:#b0cdc1;
}

.spin::after {
    content:"";
    animation: spin 500ms linear infinite;
}
